<section id="wrapper">
    <div class="auth">
            <form 
            class="auth__content"
            autocomplete="off"
            [formGroup]="loginForm"
            (ngSubmit)="login()"
            >
            <h3 class="title">Iniciar sesion</h3>
            <span>Ingrese su email y contraseña para
            iniciar sesion</span>
                <div class="input-group mb-3">
                    <input type="email"
                         class="form-control"
                         placeholder="Ingrese email" 
                         aria-label="Username" 
                         aria-describedby="basic-addon1"
                         formControlName="email">
                  </div>
                  <div class="input-group mb-3">
                    <input type="password"
                         class="form-control" 
                         placeholder="Password"
                          aria-label="Username" 
                          aria-describedby="basic-addon1"
                          formControlName="password">
                  </div>
                    <div class="input-group mb-3 d-flex justify-content-center" id="btn-login">
                        <button class="btn btn-block btn-blue">Iniciar sesion</button>
                      </div>
                      <div class="text-center">
    
                        <a href="">¿Olvidaste tu contraseña?</a>
                        <p class="text-center">o</p>
                        <a routerLink="/registrar">Crear una cuenta nueva</a>
                    </div>
            
            </form>
            <div class="auth__ilustration">

            </div>
    </div>
    
</section>