<section id="wrapper">
    <div class="auth">
            <form 
            class="auth__content"
            autocomplete="off"
            >
            <figure>
              <img src="../../../assets/img/logo-food-app.png" alt="logotipo-food-app">
            </figure>
            <h3 class="title text-center">Cambiar contraseña</h3>
            <span>Te enviaremos un email de verificacion para restablecer tu contraseña</span>
                <div class="form-group">
                  <label for="">Email</label>
                    <input type="email"
                         class="form-control"
                         placeholder="Ingrese email" 
                         aria-label="Username" 
                         aria-describedby="basic-addon1"
                         formControlName="email">
                  </div>
                  <button class="btn btn-block button-primary">Enviar email</button>
                  <div class="auth__content_footer">
                    <span>Ya tienes una cuenta? </span>
                    <a class="link" routerLink="/login">Inicia Sesión</a>
              </div>
            
            </form>
            <div class="auth__ilustration">
              <div>
                <figure>
                  <img src="../../../assets/img/ilustratiton-auth.svg" alt="">
                </figure>
                <h3 class="title text-center">Bienvenido</h3>
                <p>Calcula las propiedades termosificas de los alimentos</p>
              </div>
              <p class="copy">Food app todos los derechos reservados - desarrollado por colibri < Code > </p>
            </div>
    </div>
    
</section>