<div id="wrapper">
  <div class="auth">
    <form
      class="auth__content"
      autocomplete="off"
      [formGroup]="registerForm"
      (ngSubmit)="crearUsuario()"
    >
    <figure>
        <img src="../../../assets/img/logo-food-app.png" alt="logotipo-food-app">
      </figure>
      <h3 class="title text-center">Crear una cuenta</h3>
      <span>Completa todos los campos para crear una cuenta.</span>
      <div class="form-group">
        <label for="">Nombre</label>
        <input
          type="text"
          class="form-control form-control-sm"
          formControlName="nombre"
        />
        <p class="text-danger" *ngIf="campoNoValido('nombre')">
          El nombre es obligatorio.
        </p>
      </div>
      <div class="form-group">
        <label for="">Apellido</label>
        <input
          type="text"
          class="form-control form-control-sm"
          formControlName="apellido"
        />
        <p class="text-danger" *ngIf="campoNoValido('apellido')">
          El apellido es obligatorio.
        </p>
      </div>
      <div class="form-group">
        <label for="">Email</label>
        <input
          type="email"
          class="form-control form-control-sm"
          formControlName="email"
        />
        <p class="text-danger" *ngIf="campoNoValido('email')">
          El email es obligatorio y tiene que ser valido.
        </p>
      </div>

      <div class="form-group">
        <label for="">Password</label>
        <input
          type="password"
          class="form-control form-control-sm"
          formControlName="password"
        />
        <p class="text-danger" *ngIf="campoNoValido('password')">
          La cotraseña es obligatoria.
        </p>
      </div>
      <div class="form-group">
        <label for="">Confirmar Pasword</label>
        <input
          type="password"
          class="form-control form-control-sm"
          formControlName="password2"
        />
        <p class="text-danger" *ngIf="contrasenaNovalida()">
          Las contraseñas no coinciden.
        </p>
      </div>
        <button class="btn btn-block button-primary">Crear cuenta</button>
        <div class="auth__content_footer">
            <span>Ya tienes una cuenta? </span>
            <a class="link" routerLink="/login">Inicia Sesión</a>
      </div>
    </form>
    <div class="auth__ilustration">
        <div>
          <figure>
            <img src="../../../assets/img/ilustratiton-auth.svg" alt="">
          </figure>
          <h3 class="title text-center">Bienvenido</h3>
          <p>Calcula las propiedades termosificas de los alimentos</p>
        </div>
        <p class="copy">Food app todos los derechos reservados - desarrollado por colibri < Code > </p>
      </div>
  </div>
</div>
