<div class="p-32">
    <div class="float-left">
        <a (click)="regresar()" class="btn btn-green">Regresar</a>
    </div>
    <div class="Con-general ">
        <div class="Con-imagen">
            <img [src]="alimento.imagen" alt="">
        </div>
        <div class="Con-detalle ">
            <h2>{{alimento.nombre}}</h2>
            <div class="Con-item">
                <h5>Parte analizada</h5>
                <h6>{{alimento.parte_analizada}}</h6>
            </div>
    
            <div class="Con-item">
                <h6>Humedad</h6>
                <h6>{{alimento.humedad}}</h6>
            </div>
            <div class="Con-item">
                <h6>Energía(k,Cal)</h6>
                <h6>{{alimento.energiaKcal}}</h6>
            </div>
            <div class="Con-item">
                <h6>Energía(k,j)</h6>
                <h6>{{alimento.energiaKj}}</h6>
            </div>
            <div class="Con-item">
                <h6>Proteina(g)</h6>
                <h6>{{alimento.proteinaG}}</h6>
            </div>
            <div class="Con-item">
                <h6>Lipido(g)</h6>
                <h6>{{alimento.lipidosG}}</h6>
            </div>
            <div class="Con-item">
                <h6>Carbohidratos totales</h6>
                <h6>{{alimento.carbohidratos_total}}</h6>
            </div>
            <div class="Con-item">
                <h6>Carbohidratos disponibles</h6>
                <h6>{{alimento.carbohidratos_disp}}</h6>
            </div>
            <div class="Con-item">
                <h6>Fibra dietaria</h6>
                <h6>{{alimento.fibra_dietaria}}</h6>
            </div>
            <div class="Con-item">
                <h6>Ceniza</h6>
                <h6>{{alimento.cenizas}}</h6>
            </div>
           
    
        </div>
    
    </div>
</div>