<div class="container mx-auto h-full">
    <header class="h-full flex flex-wrap max-[480px]:p-4 items-center max-[480px]:items-start">
        <section class="w-1/2 max-sm:w-full">
            <p class="badge--success py-2">Calculadora de propiedades termicas</p>
            <h1 class="text-6xl font-bold py-2">Food App</h1>
            <p class="py-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
            <button class="btn--dark">Empezar</button>
        </section>
        <figure class="w-1/2 max-sm:w-full flex justify-center ">
            <img  class="h-full" src="../../../../assets/images/home/ilustracion.png" alt="ilustracion">
        </figure>
    </header>

    <section class="bg-slate-950 text-white px-16 py-20 max-[480px]:px-4">
            <h3 class="text-2xl font-bold py-2">ÚNETE A NOSOTROS Y CONOCE MÁS SOBRE TUS  ALIMENTOS</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
             quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
    </section>

    <section class="pt-10">
        <h3 class="text-4xl font-bold py-2 text-center">Caracteristicas</h3>
        <p class="py-4">Conoce más sobre las caracteristicas que Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
    </section>
    <section class="pt-10">
        <h3 class="text-4xl font-bold py-4 text-center">Elige tu plan ideal</h3>
        <section class="grid grid-cols-3 pt-10 max-[480px]:grid-cols-1 items-center">
            <app-card-pircing/>
            <app-card-pircing/>
            <app-card-pircing/>
        </section>
    </section>
    <section class="pt-10 pb-20">
        <h3 class="text-4xl font-bold py-2 text-center">Como Funciona</h3>
        <p class="py-4">Conoce más sobre las caracteristicas que Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
        <section class="grid grid-cols-3 pt-10 gap-40 max-[480px]:grid-cols-1 items-center">
            <div>
                <h3 class="font-bold">Paso 1</h3>
                <p>minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor </p>
            </div>
            <div>
                <h3 class="font-bold">Paso 2</h3>
                <p>minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor </p>
            </div>
            <div>
                <h3 class="font-bold">Paso 3</h3>
                <p>minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor </p>
            </div>
        </section>
    </section>
</div>