<div class="container">
    <div class="row">
        <div class="col-md-7">
            <a class="btn btn-danger" routerLink="/admin/alimentos">Regresar</a>
        </div>
        <div *ngIf="!crtlEdit"  class="col-md-5 text-right">
            <button  *ngIf="step==4" class="btn btn-primary mr-15" (click)="desplegarForm()" ><i class="fa fa-plus"></i> Aminoacido</button>
            <button  *ngIf="step==4" class="btn btn-primary" (click)="desplegarForm1()" ><i class="fa fa-plus"></i> Azucar</button>
        </div>
    </div>
    <form autocomplete="off" [formGroup]="formaAlimento" >
        <div *ngIf="step==1" class="row p-3">
            <div class="col-md-12">
                <p>Informacion del alimento</p>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleInputEmail1">Categoria</label>
                    <select  class="form-select form-select-sm" formControlName="id_categoria">
                        <option  selected value="">Selecione una categoria</option>
                        <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.nombre}}
                        </option>
                    </select>
                   
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleInputPassword1">Nombre del alimento</label>
                    <input type="text" autofocus class="form-control form-control-sm" id="exampleInputPassword1"
                        formControlName="nombre" [class.is-invalid]="nombreInvalid">
                    <small *ngIf="nombreInvalid" class="text-danger">
                        Ingrese el nombre
                    </small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="exampleInputPassword1">parte analizada</label>
                    <input type="text" class="form-control form-control-sm" id="exampleInputPassword1"
                        formControlName="parte_analizada">

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="pg">Analisis Proximal</p>
                    <hr>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-5 col-form-label">Humedad</label>
                        <div class="col-sm-7">
                            <input type="number" class="form-control form-control-sm" id="inputPassword"
                                formControlName="humedad" [class.is-invalid]="humedadInvalid">
                            <small *ngIf="humedadInvalid" class="text-danger">
                                Campo requerido*
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-5 col-form-label">Energia (kcal)</label>
                        <div class="col-sm-7">
                            <input type="number" class="form-control form-control-sm" id="inputPassword"
                                formControlName="energiaKcal" [class.is-invalid]="energiakcInvalid">
                            <small *ngIf="energiakcInvalid" class="text-danger">
                                Campo requerido*
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-5 col-form-label">Energia (kj)</label>
                        <div class="col-sm-7">
                            <input type="number" class="form-control form-control-sm" id="inputPassword"
                                formControlName="energiaKj" [class.is-invalid]="energiakInvalid">
                            <small *ngIf="energiakInvalid" class="text-danger">
                                Campo requerido*
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-5 col-form-label">Proteinas (G)</label>
                        <div class="col-sm-7">
                            <input type="number" class="form-control form-control-sm" id="inputPassword"
                                formControlName="proteinaG" [class.is-invalid]="proteinaInvalid">
                            <small *ngIf="proteinaInvalid" class="text-danger">
                                Campo requerido*
                            </small>
    
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-5 col-form-label">Lipidos(G)</label>
                        <div class="col-sm-7">
                            <input type="number" class="form-control form-control-sm" id="inputPassword"
                                formControlName="lipidosG" [class.is-invalid]="lipidosInvalid">
                            <small *ngIf="lipidosInvalid" class="text-danger">
                                Campo requerido*
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-5 col-form-label">Carbohidratos totales(G)</label>
                        <div class="col-sm-7">
                            <input type="number" class="form-control form-control-sm" id="inputPassword"
                                formControlName="carbohidratos_total" [class.is-invalid]="carb1Invalid">
                            <small *ngIf="carb1Invalid" class="text-danger">
                                Campo requerido*
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-5 col-form-label">Carbohidratos Disponibles(G)</label>
                        <div class="col-sm-7">
                            <input type="number" class="form-control form-control-sm" id="inputPassword"
                                formControlName="carbohidratos_disp" [class.is-invalid]="carb2Invalid">
                            <small *ngIf="carb2Invalid" class="text-danger">
                                Campo requerido*
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-5 col-form-label">Fibra Dietaria</label>
                        <div class="col-sm-7">
                            <input type="number" class="form-control form-control-sm" id="inputPassword"
                                formControlName="fibra_dietaria" [class.is-invalid]="fibraInvalid">
                            <small *ngIf="fibraInvalid" class="text-danger">
                                Campo requerido*
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-5 col-form-label">Cenizas</label>
                        <div class="col-sm-7">
                            <input type="number" class="form-control form-control-sm" id="inputPassword"
                                formControlName="cenizas" [class.is-invalid]="cenizaInvalid">
                            <small *ngIf="cenizaInvalid" class="text-danger">
                                Campo requerido*
                            </small>
                        </div>
                    </div>
                </div>
            </div>

        </div>

       

        <div *ngIf="step==2" class="row p-3">
            <div class="col-md-12">
                <p class="pg">Minerales</p>
                <hr>
            </div>
            <div class="col-md-3">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-5 col-form-label">Calcio </label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control form-control-sm" id="inputPassword"
                            formControlName="calcio">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-5 col-form-label">Hierro</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control form-control-sm" id="inputPassword"
                            formControlName="hierro">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-5 col-form-label">Sodio</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control form-control-sm" id="inputPassword"
                            formControlName="sodio">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-5 col-form-label">Fosforos</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control form-control-sm" id="inputPassword"
                            formControlName="fosforo">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-5 col-form-label">Yodo</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control form-control-sm" id="inputPassword"
                            formControlName="yodo">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-5 col-form-label">Zinc</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control form-control-sm" id="inputPassword"
                            formControlName="zinc">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-5 col-form-label">Magnecio</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control form-control-sm" id="inputPassword"
                            formControlName="magnecio">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-5 col-form-label">Potacio</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control form-control-sm" id="inputPassword"
                            formControlName="potasio">
                    </div>
                </div>
            </div>
        </div>


        <div *ngIf="step==3" class="row p-3">
            <div class="col-md-12">
                <p class="pg">vitaminas</p>
                <hr>
            </div>
            <div class="col-md-3">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-5 col-form-label">Tiamina</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control form-control-sm" id="inputPassword"
                            formControlName="tiamina">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-5 col-form-label">riboflaxina</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control form-control-sm" id="inputPassword"
                            formControlName="riboflaxina">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-5 col-form-label">Niacina</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control form-control-sm" id="inputPassword"
                            formControlName="niaxina">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-5 col-form-label">Folatos</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control form-control-sm" id="inputPassword"
                            formControlName="folatos">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-5 col-form-label">VitaminaA</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control form-control-sm" id="inputPassword"
                            formControlName="vitaminaA">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-5 col-form-label">VitaminaC</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control form-control-sm" id="inputPassword"
                            formControlName="vitaminaC">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-5 col-form-label">VitaminaB12</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control form-control-sm" id="inputPassword"
                            formControlName="vitamina_b12">
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="step==4" class="row p-3">
           
           <div *ngIf="!crtlEdit" class="row" >
            <div class="col-md-12">
                <p class="pg">Acidos grasos</p>

                <hr>
            </div>
            <div class="col-md-3">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-5 col-form-label">Grasa saturada</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control form-control-sm" id="inputPassword"
                            formControlName="grasaSaturada">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-5 col-form-label">Grasa Monosaturada</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control form-control-sm" id="inputPassword"
                            formControlName="grasaMenosSaturada">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-5 col-form-label">Grasa Polinsaturada</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control form-control-sm" id="inputPassword"
                            formControlName="grasaPoliinsaturada">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-5 col-form-label">Colesterol</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control form-control-sm" id="inputPassword"
                            formControlName="colesterol">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-5 col-form-label">Parte Comestible</label>
                    <div class="col-sm-7">
                        <input type="number" class="form-control form-control-sm" id="inputPassword"
                            formControlName="parteComestible">
                    </div>
                </div>
            </div>
           </div>
            <!--  AMINOACIDO START -->
            <div class="col-md-12" *ngIf="ctrlAminoacido">
                <div class="card">
                    <div class="card-body">
                        <div class="card-opt">
                            <h5 class="card-title">Aminoacido</h5>
                            <span *ngIf="!crtlEdit"  (click)="ocultardiv('aminoacido')"><i class="fa fa-close"></i></span>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Acido aspartico</label>
                                    <div class="col-sm-7">
                                        <input type="number" 
                                        class="form-control form-control-sm"
                                        formControlName="acido_aspartico">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Treonina</label>
                                    <div class="col-sm-7">
                                        <input type="number" 
                                        class="form-control form-control-sm"
                                        formControlName="treonina">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Serina</label>
                                    <div class="col-sm-7">
                                        <input type="number" 
                                        class="form-control form-control-sm"
                                        formControlName="serina">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Acido glutaminico</label>
                                    <div class="col-sm-7">
                                        <input type="number" 
                                        class="form-control form-control-sm" 
                                        formControlName="acido_glutaminico">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Prolina</label>
                                    <div class="col-sm-7">
                                        <input type="number" 
                                        class="form-control form-control-sm" 
                                        formControlName="prolina">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Glicina</label>
                                    <div class="col-sm-7">
                                        <input type="number" 
                                        class="form-control form-control-sm" 
                                        formControlName="glicina">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Alanina</label>
                                    <div class="col-sm-7">
                                        <input type="number" 
                                        class="form-control form-control-sm" 
                                        formControlName="alanina">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Cisteina</label>
                                    <div class="col-sm-7">
                                        <input type="number" 
                                        class="form-control form-control-sm" 
                                        formControlName="cisteina">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Valina</label>
                                    <div class="col-sm-7">
                                        <input type="number"
                                        class="form-control form-control-sm" 
                                        formControlName="valina">
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Metionina</label>
                                    <div class="col-sm-7">
                                        <input type="number"
                                        class="form-control form-control-sm" 
                                        formControlName="metionina">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Isoleucina</label>
                                    <div class="col-sm-7">
                                        <input type="number"
                                        class="form-control form-control-sm" 
                                        formControlName="isoleucina">
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Leucina</label>
                                    <div class="col-sm-7">
                                        <input type="number"
                                        class="form-control form-control-sm" 
                                        formControlName="leucina">
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Tirosina</label>
                                    <div class="col-sm-7">
                                        <input type="number"
                                        class="form-control form-control-sm" 
                                        formControlName="tirosina">
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Fenilalanina</label>
                                    <div class="col-sm-7">
                                        <input type="number"
                                        class="form-control form-control-sm" 
                                        formControlName="fenilalanina">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">lisina</label>
                                    <div class="col-sm-7">
                                        <input type="number" 
                                        class="form-control form-control-sm"
                                        formControlName="lisina">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Arginina</label>
                                    <div class="col-sm-7">
                                        <input type="number" 
                                        class="form-control form-control-sm"
                                        formControlName="arginina">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Triptofano</label>
                                    <div class="col-sm-7">
                                        <input type="number" 
                                        class="form-control form-control-sm"
                                        formControlName="triptofano">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
           <!-- AMINOACIDO END -->

           <!-- AZUCAR START -->
            <div class="col-md-12" *ngIf="ctrlAzucar">
                <div class="card">
                    <div class="card-body">
                        <div class="card-opt">
                            <h5 class="card-title">Azucares</h5>
                            <span *ngIf="!crtlEdit"  (click)="ocultardiv('azucar')"><i class="fa fa-close"></i></span>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Azucares disponibles</label>
                                    <div class="col-sm-7">
                                        <input type="number" formControlName="azucares_disponibles" class="form-control form-control-sm" id="inputPassword"
                                           >
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Azucares no reductores</label>
                                    <div class="col-sm-7">
                                        <input type="number" formControlName="azucares_no_reductores" class="form-control form-control-sm" id="inputPassword"
                                           >
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Azucares reductores</label>
                                    <div class="col-sm-7">
                                        <input type="number" formControlName="azucares_reductores" class="form-control form-control-sm" id="inputPassword"
                                            >
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Fructosa</label>
                                    <div class="col-sm-7">
                                        <input type="number"formControlName="fructosa"  class="form-control form-control-sm" id="inputPassword"
                                           >
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Galactosa</label>
                                    <div class="col-sm-7">
                                        <input type="number"formControlName="galactosa"  class="form-control form-control-sm" id="inputPassword">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Glucosa</label>
                                    <div class="col-sm-7">
                                        <input type="number"formControlName="Glucosa"  class="form-control form-control-sm" id="inputPassword">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Lactosa</label>
                                    <div class="col-sm-7">
                                        <input type="number" formControlName="lactosa" class="form-control form-control-sm" id="inputPassword">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-5 col-form-label">Sacarosa</label>
                                    <div class="col-sm-7">
                                        <input type="number" formControlName="Sacarosa" class="form-control form-control-sm" id="inputPassword">
                                    </div>
                                </div>
                            </div>
                       
                        </div>
                  
                    </div>
                </div>
               
               
        </div>
            <!-- AZUCAR END -->
        </div>
        <div class="row d-flex justify-content-center text-center p-3">
            <div class="col-md-6">
                <a (click)="previus()" *ngIf="step!=1 && id=='nuevo'" class="btn btn-info mr-15">Anterior</a>
                <button (click)="siguiente()" *ngIf="step!=4 && id=='nuevo'" class="btn btn-primary mr-15">Siguiente</button>
                <button (click)="agregar()" *ngIf="step==4  || id!=='nuevo'" class="btn btn-success mr-15">Agregar</button>
            </div>
           
        </div>
    </form>
</div>