<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading bg-white">Logotipo </div>

    <ul class="list-group">
      <li class="list-group-item" routerLinkActive="active-admin" >
        <a  routerLink="dashboard" class="list-group-item-action bg-light">
        <i class="fa fa-tachometer"></i>
          Dashboard
        </a>
      </li>
      <li class="list-group-item" routerLinkActive="active-admin">
        <a  routerLink="alimentos" class="list-group-item-action bg-light">
          <i class="fa fa-seedling"></i>
          Alimentos
        </a>
      </li>
      <li class="list-group-item" routerLinkActive="active-admin">
        <a  routerLink="categorias" class="list-group-item-action bg-light">
          <i class="fa fa-th-large"></i>
          Categorias
        </a>
      </li>
      <li class="list-group-item" routerLinkActive="active-admin">
        <a  routerLink="usuarios" class="list-group-item-action bg-light">
          <i class="fa fa-user"></i>
          Usuarios
        </a>
      </li>
      <li class="list-group-item" routerLinkActive="active-admin">
        <a  routerLink="roles" class="list-group-item-action bg-light">
          <i class="fa fa-key"></i>
          Roles y permisos
        </a>
      </li>
 
    </ul>


  </div>