<div *ngIf="!cargando" class="text-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  
  
  <button type="button" class="btn btn-primary" (click)="crearRol()">
    Nuevo rol
  </button>
 
  
  
  <div class="row p-4">
    <div class="col-md-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th >Acciones</th>
            <th >Id</th>
            <th >Nombre</th>
            <th >Estado</th>
            <th >Fecha de creacion</th>
          </tr>
        </thead>
        <tbody *ngFor="let rol of roles">
          <tr>
            <td >
              <a class="btn btn-sm btn-warning cursor" data-toggle="tooltip" data-original-title="Guardar cambios"
                >
                <i class="fa fa-pencil text-inverse m-r-10"></i>
              </a>&nbsp;
              <a class="cursor" (click)="eliminarRol(rol)" class="btn btn-sm btn-danger"data-toggle="tooltip" data-original-title="Close" >
                <i class="fas fa-trash"></i>
              </a>&nbsp;
              <a *ngIf="!rol.activo" (click)="activar(rol)"class="btn btn-success">Activar</a>
            </td>
            <td>{{rol.id}}</td>
    
            <td>
              {{rol.nombre}}
            </td>      
            <td *ngIf="rol.activo">
              <span class="badge bg-success">Activo</span>
            </td>
            <td *ngIf="!rol.activo">
              <span class="badge bg-danger">Inactivo</span>
            </td>
            <td>{{rol.createdAt}}</td>
          </tr>
    
        </tbody>
      </table>
    
    </div>
  
  </div>
  