<app-navbar></app-navbar>

<!-- SECCION PRINCIPAL -->
<section class="content">
    <div class="row align-items-center g-5">
        <!-- Left content START col-lg-5 col-xl-6 position-relative z-index-1 text-center text-lg-start mb-5 mb-sm-0 -->
        <div class="propiedades col-lg-5 col-xl-6 position-relative z-index-1 text-lg-start text-lg-start mb-5 mb-sm-0">

            <span class="cal-propiedades">Calculadora de propiedades termicas</span>

            <div class="food-app">
                <h1>FOOD APP</h1>
            </div>

            <div> <span class="food-text">Transforma tus recetas con datos precisos sobre alimentos.</span></div>

            <div> <button class="btn btn-outline-dark d-mobile button-empezar"> Empezar </button> </div>

        </div>

        <div class="col-lg-7 col-xl-6 text-center position-relative ilustracion">
            <img src="ilustracion.png" alt="">
        </div>
    </div>
</section>


<!-- SECCION INFORMACION -->
<section class="content">

    <div class="banner-info">

        <div>
            <h3 class="title-banner-info">Únete a Nuestra Comunidad</h3>
        </div>

        <div>
            <span class="color-text-bannerInfo">¡Sé parte de una comunidad apasionada por la cocina y la ciencia!
                Obtén acceso exclusivo a herramientas innovadoras para mejorar tus habilidades culinarias.
            </span>
        </div>

    </div>
</section>

<!-- SECCION CARACTERISTICAS -->
<section class="content">

    <div class="caracteristicas">

        <div>
            <h2 class="text-caracteristicas">Características</h2>
        </div>

        <div>
            <span>Conoce todas nuestras caracteristicas y sacale el máximo provecho.</span>
        </div>
    </div>

    <div class="row align-items-center g-6">
        <!-- Left content START col-lg-5 col-xl-6 position-relative z-index-1 text-center text-lg-start mb-5 mb-sm-0 -->
        <div class="ilustration2 col-xl-5 position-relative z-index-1 text-lg-start text-lg-start mb-5 mb-sm-0">
            <img src="ilustration2.png" alt="">
        </div>

        <div>
            <div class="item item1"> <img src="icon/cogconf.png" alt=""> </div>
            <div class="item item2"><img src="icon/flaskfil.png" alt=""></div>
            <div class="item item3"><img src="icon/food.png" alt=""></div>
            <div class="item item4"><img src="icon/wheat.png" alt=""></div>

        </div>

        <div class="textos-caracteristicas col-lg-5 col-xl-6">
            <p class="primer p"> Calcula la densidad, calor específico y conductividad térmica de cualquier alimento.
            </p>
            <p class="segundo p"> Acceso a una base de datos completa de propiedades termofísicas. </p>
            <p class="tercer p"> Personalización de recetas con datos precisos sobre calorías y propiedades de los
                ingredientes. </p>
            <p class="cuarto p"> Interfaz intuitiva y fácil de usar para chefs aficionados y profesionales por igual.
            </p>
        </div>
    </div>
</section>

<!-- SECCION PLANES -->
<section class="content">

    <div class="banner-planes">

        <div>
            <h2 class="text-plan">Elige tu plan ideal</h2>
        </div>

        <div class=" row cards-prices">
            <div class="col-sm-3 col1">

             <app-card-price></app-card-price>

            </div>
            <div class="col-sm-3 col2">

             <app-card-price></app-card-price>

            </div>
            <div class="col-sm-3 col3">

             <app-card-price></app-card-price>

            </div>
        </div>
    </div>

</section>

<!-- SECCION COMO FUNCIONA -->
<section class="content">

    <div class="banner-como-funciona">

        <div>
            <h2 class="text-como-funciona"> ¿Cómo funciona? </h2>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="card-body">
                    <h5 class="card-title">Paso 1</h5>
                    <p class="card-text">Selecciona los alimentos de tu receta o ingresa sus nombres.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card-body">
                    <h5 class="card-title">Paso 2</h5>
                    <p class="card-text">Obtén datos precisos sobre las propiedades termofísicas de los ingredientes.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card-body">
                    <h5 class="card-title">Paso 3</h5>
                    <p class="card-text">Ajusta tu receta según las recomendaciones para mejorar el sabor y la textura.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>