
  <div class="d-flex" #wrapper id="wrapper">
    <app-sidebar></app-sidebar>

    <!-- Sidebar -->
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
        <button class="btn btn-menu" (click)="open()" id="menu"><span class="iconify" data-icon="bx:bxs-dashboard" data-inline="false" data-width="28" data-height="28"></span></button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0 d-flex align-items-center">
            <li class="nav-item active" routerLinkActive="active">
              <a class="nav-link" routerLink="/home/calculos">Propiedades Termicas</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/home/catalogo">Catalogo</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="img-avatar" [src]="usuario.imagenUrl" alt="">
                {{usuario.nombre}} {{usuario.apellido}}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" routerLink="./perfil">Perfil de usuario</a>
                <a class="dropdown-item" href="#">Configuraciones</a>
              
                <a class="dropdown-item cursor"(click)="logout()">Cerrar sesion</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
     <app-breadcrumb></app-breadcrumb>
      <div class="container-fluid">
        

        
        <router-outlet></router-outlet>
        <app-modal-image></app-modal-image>
        <app-modal-edit-a></app-modal-edit-a>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->


  <!-- Menu Toggle Script -->
 