<div class="fondo-modal oculto animated fadeIn fast"
    [class.oculto]="modalEditService.ocultarModal">
    <div class="modal fade show" 
        id="exampleModal" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="exampleModalLabel1" 
        style="display: block; padding-right: 17px;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel1">Editar Alimento</h4>
                    <button type="button" 
                            class="close" 
                            data-dismiss="modal" 
                            aria-label="Close"
                            (click)="cerrarModal()">
                            <span aria-hidden="true">×</span>
                        </button>
                </div>
                <div class="modal-body">
                   <div class="content">
                      <button (click)="alimento()" class="btn btn-primary">Alimento</button>
                      <button (click)="vitamina()" class="btn btn-primary">Vitaminas</button>
                      <button (click)="minerales()" class="btn btn-primary">Minerales</button>
                      <button (click)="acidos()" class="btn btn-primary">Acidos Grasos</button>
                      <button *ngIf="modalEditService.aminoacido"(click)="aminoacido()" class="btn btn-primary">Aminoacido</button>
                      <button *ngIf="modalEditService.azucar"(click)="azucar()" class="btn btn-primary">Azucares</button>
                     
                   </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                     class="btn btn-default" 
                     data-dismiss="modal"
                     (click)="cerrarModal()">Cancelar</button>
                  
                </div>
            </div>
        </div>
    </div>
</div>

