<section>
    <div class="footer">
        <div class="row footer-rows">
            <div class="col-sm-3 footer1">
                <div class="card-body">
                    <a class="footer-brand" href="#">
                        <img src="Logotipo/largefooter.png" alt="">
                    </a>
                    <p class="card-footer">With supporting text below as a natural lead-in to additional
                        content.</p>
                </div>
            </div>
            <div class="col-sm-3 footer2">
                <div class="card-body">
                    <h5 class="card-title2">Empresa</h5>
                    <p class="card-footer">With supporting text below as a natural lead-in to additional
                        content.</p>
                </div>
            </div>
            <div class="col-sm-3 footer3">
                <div class="card-body">
                    <h5 class="card-title3">Legal</h5>
                    <p class="card-footer">With supporting text below as a natural lead-in to additional
                        content.
                    </p>
                </div>
            </div>
            <div class="col-sm-3 footer4">
                <div class="card-body">
                    <h5 class="card-title4">Contacto</h5>
                    <p class="card-footer">atencion@foodapp.com</p>
                    <span><img src="icon/icon_youtube.png" alt="" class="icon-youtube"> <img src="icon/icon-facebook.png" alt="" class="icon-facebook"> <img src="icon/icon-instagram.png" alt="" class="icon-instagram"> <img src="icon/icon-tiktok.png" alt="" class="icon-tiktok"></span>
                </div>
            </div>
        </div>
    </div>
</section>